@import url("components.css");

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --b-bg-color: #222222;
}

body {
    background-color: var(--b-bg-color);
}